<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css', integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p', crossorigin='anonymous')
        link(rel="stylesheet", href="css/style.css")
        title Kho Sách Online
    body
        #header
            nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
                .container
                    a.navbar-brand(href="/")
                        img(src="https://khosachonline.com/public/images/logo@2x.png" width="120")
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarTogglerDemo02
                        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                            li.nav-item
                                a.nav-link.text-light(href='#') TRANG CHỦ
                            li.nav-item
                                a.nav-link.text-light(href='#') GIỚI THIỆU
                            li.nav-item.dropdown
                                a.nav-link.text-light.dropdown-toggle(data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false") THỂ LOẠI
                                .dropdown-menu
                                    a.dropdown-item(href="/category") Action 1
                                    a.dropdown-item(href="/category") Action 2
                                    a.dropdown-item(href="/category") Action 3
                                    a.dropdown-item(href="/category") Action 4
                                    a.dropdown-item(href="/category") Action 5
                            li.nav-item
                                a.nav-link.text-light(href='#') LIÊN HỆ
                        form.form-inline
                            input.form-control(max-width="70%", type='search', placeholder='Nhập tên sách...')
                            button.btn.btn-secondary(type='submit')
                                i.fas.fa-search
        #main.container
            .alert.alert-info.mb-2(role="alert")
                p.text-center.mb-0 Website vẫn đang trong giai đoạn phát triển và hoàn thiện!!!
            .row.main-container
                block content
                #sidebar.col-md-4.col-12
                    .col-12.bg-light.border.category-list
                        .row.category-list-title.border-bottom
                            .col-12.category-list-title
                                h5 CÁC THỂ LOẠI
                        .row.category-list-content.border-bottom
                            .col-6.category-title.mb-1.mt-1
                                a(href="#") 
                                    i.fas.fa-tags.text-info 
                                    span.category-title  Data 1
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info 
                                    span.category-title  Data 2
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info 
                                    span.category-title  Data 3
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 4
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 5
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 6
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 7
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 8
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 9
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 10
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 11
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 12
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 13
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 14
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 15
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 16
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 17
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 18
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 19
                            .col-6.category-title.mb-1.mt-1
                                a(href="#")
                                    i.fas.fa-tags.text-info
                                    span.category-title  Data 20
                    .col-12.bg-light.border.category-list.mt-2
                        .row.category-list-title.border-bottom
                            .col-12.category-list-title
                                h5 SÁCH XEM NHIỀU
                        .row.new-list-content
                            .col-2.top-number.top-one 1       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number.top-two
                                lable 2       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number.top-three
                                lable 3       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 4       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 5       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 6       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 7       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 8       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 9      
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
                        .row.new-list-content
                            .col-2.top-number
                                lable 10       
                            .col-10.category-title.pt-1.pb-1
                                a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                                .count-view-sidebar-group 
                                    i.fas.fa-eye
                                        lable  123456789
        #footer.container-fluid.mt-2
            .container
                .row
                    .col-md-8.col-12
                        p.text-light.mt-4 KhoSachOnline là Website đọc sách online hoàn toàn miễn phí dành cho người Việt, với nhiều đầu sách hay và đa dạng về chủ đề được chọn lọc và đăng tải một cách kĩ lưỡng.
                        p.text-light.mt-4 Quý bạn đọc có thể ủng hộ website bằng cách giới thiệu đến bạn bè, chúc bạn có những giây phút đọc truyện thư giãn thật bổ ích.
                    .col-md-4.col-12.text-center.text-light
                        p.mt-4 Kết nối với chúng tôi:
                        a(href="#")
                            i.connect-icon.fab.fa-facebook.ml-1.mr-1
                        a(href="#")
                            i.connect-icon.fab.fa-instagram.ml-1.mr-1
                        a(href="#")
                            i.connect-icon.fab.fa-twitter-square.ml-1.mr-1
                        a(href="#")
                            i.connect-icon.fab.fa-google-plus-square.ml-1.mr-1
                .col-12
                    p.text-light.text-center.mb-0 © 2020 Khosach, Nonprofit Organization.
        script(src="js/style.js")
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")