extends ../templates/home.template.pug
block content
    #content.col-md-8.col-12
        .col-12.bg-light.border.hot-list.mb-2
            .row.hot-list-title.border-bottom
                .col-12.title-left
                    h5 Category 1
            .row.hot-list-content
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-12
                    nav(aria-label='Page navigation example')
                        ul.pagination.justify-content-center
                            li.page-item.disabled
                                a.page-link(href='#') Previous
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next