extends ../templates/home.template.pug
block content
    #content.col-md-8.col-12
        .row.bg-light.border.ml-0.mr-0
            .col-md-4.col-12
                img.img-fluid.mx-auto.d-block.mt-2.mb-2(max-width="100%", height="auto",src="https://picsum.photos/167/217", alt="")
            .col-md-8.col-12
                h5 Machine Learning Cơ Bản
                h6 Tác giả: Vũ Hữu Tiệp
                h6 Thể loại: 
                    a(href="#") Công Nghệ Thông Tin
                h6 Lượt xem: 123456789
                .alert.alert-danger(role="alert")
                    i.fas.fa-file-download
                    lable  Tính năng Download đang trong giai đoạn phát triển!
                a.btn.btn-danger.text-light.mr-2(href="#") Download
                a.btn.btn-primary.text-light(href="#") Xem Online
        .row.bg-light.border.ml-0.mr-0.mt-2
            .col-12.title-left.border-bottom
                h5 GIỚI THIỆU
            .col-12
                .mt-2.mb-2 
                    p Những năm gần đây, AI - Artificial Intelligence (Trí Tuệ Nhân Tạo), và cụ thể hơn là Machine Learning (Học Máy hoặc Máy Học) nổi lên như một bằng chứng của cuộc cách mạng công nghiệp lần thứ tư (1 - động cơ hơi nước, 2 - năng lượng điện, 3 - công nghệ thông tin). Trí Tuệ Nhân Tạo đang len lỏi vào mọi lĩnh vực trong đời sống mà có thể chúng ta không nhận ra. Xe tự hành của Google và Tesla, hệ thống tự tag khuôn mặt trong ảnh của Facebook, trợ lý ảo Siri của Apple, hệ thống gợi ý sản phẩm của Amazon, hệ thống gợi ý phim của Netflix, máy chơi cờ vây AlphaGo của Google DeepMind, …, chỉ là một vài trong vô vàn những ứng dụng của AI/Machine Learning.
                    p Machine Learning là một tập con của AI. Theo định nghĩa của Wikipedia, Machine learning is the subfield of computer science that “gives computers the ability to learn without being explicitly programmed”. Nói đơn giản, Machine Learning là một lĩnh vực nhỏ của Khoa Học Máy Tính, nó có khả năng tự học hỏi dựa trên dữ liệu đưa vào mà không cần phải được lập trình cụ thể. Bạn Nguyễn Xuân Khánh tại đại học Maryland đang viết một cuốn sách về Machine Learning bằng tiếng Việt khá thú vị, các bạn có thể tham khảo bài Machine Learning là gì?.
                    p Những năm gần đây, khi mà khả năng tính toán của các máy tính được nâng lên một tầm cao mới và lượng dữ liệu khổng lồ được thu thập bởi các hãng công nghệ lớn, Machine Learning đã tiến thêm một bước dài và một lĩnh vực mới được ra đời gọi là Deep Learning (Học Sâu - thực sự tôi không muốn dịch từ này ra tiếng Việt). Deep Learning đã giúp máy tính thực thi những việc tưởng chừng như không thể vào 10 năm trước: phân loại cả ngàn vật thể khác nhau trong các bức ảnh, tự tạo chú thích cho ảnh, bắt chước giọng nói và chữ viết của con người, giao tiếp với con người, hay thậm chí cả sáng tác văn hay âm nhạc.
        .row.bg-light.border.ml-0.mr-0.mt-2
            .col-12.title-left.border-bottom
                h5 DANH SÁCH CHƯƠNG
            .col-12.chapter-content 
                a(href="#") Chương 0: Lời mở đầu
            .col-12.chapter-content 
                a(href="#") Chương 1: Tư Duy Và Tính Cách
            .col-12.chapter-content 
                a(href="#") Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
            .col-12.chapter-content 
                a(href="#") Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
            .col-12.chapter-content 
                a(href="#") Chương 4: Tư Duy Và Mục Đích
            .col-12.chapter-content 
                a(href="#") Chương 5: Nhân Tố Tư Duy Trong Thành Công
            .col-12.chapter-content 
                a(href="#") Chương 6: Viễn Cảnh Và Lý Tưởng
            .col-12.chapter-content 
                a(href="#") Chương 7: Sự Thanh Thản


