extends ../templates/home.template.pug

block content
    .row
        #content.col-8
            .col-12.bg-light.border.hot-list.mb-2
                .row.hot-list-title.border-bottom
                    .col-10.title-left
                        h5 SÁCH XEM NHIỀU
                    .col-2.title-right.mt-2
                        a(href="#") Xem thêm
                .row.hot-list-content
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Hào Môn Vui Nhộn Vợ Nhỏ Đến Cậy Cửa
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Tổng Tài Đại Nhân, Mãi Mãi Con Đường Theo Đuổi Vợ
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Ông Xã Đại Nhân Hết Mực Cưng Chiều
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Bá Tình Ác Thiếu: Dạy Bảo Tiểu Đào Thê
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Tổng Tài Cao Lãnh Tuyệt Sủng: Cuối Cùng Cũng Đến Em
                    .col-4.mt-2.mb-2.hot-list-content
                        a(href="#")
                            img.book-cover(src="https://picsum.photos/210/300", alt="")
                            a.book-title(href="#") Chỉ Muốn Sống Bên Cạnh Anh
            .col-12.bg-light.border.new-list
                .row.new-list-title.border-bottom
                    .col-10.title-left
                        h5 SÁCH MỚI CẬP NHẬT
                    .col-2.title-right.mt-2
                        a(href="#") Xem thêm
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
                .row.new-list-content.pb-2.pt-2
                    a(href="#").col-9.book-title - Ta Muốn Làm Thiên Đao
                    .col-3.chapter Chương 285
        #sidebar.col-4
                
        