extends ../templates/home.template.pug
block content
    #content.col-8
        .col-12.bg-light.border.hot-list.mb-2
            .row.hot-list-title.border-bottom
                .col-10.title-left
                    h5 SÁCH XEM NHIỀU
                .col-2.title-right.mt-2
                    a(href="#") Xem thêm&raquo;
            .row.hot-list-content
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#") 
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-4.mt-2.mb-2.hot-list-content.position-relative
                    a(href="#")
                        img.book-cover(src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="#")
                            h6.text-center Cô Vợ Hợp Đồng Của Tổng Giám Đốc
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
        .col-12.bg-light.border.new-list
            .row.new-list-title.border-bottom
                .col-10.title-left
                    h5 SÁCH MỚI CẬP NHẬT
                .col-2.title-right.mt-2
                    a(href="#") Xem thêm&raquo;
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.new-list-content.pb-2.pt-2
                a(href="#").col-9.book-title 
                    h6 - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
    #sidebar.col-4
        .col-12.bg-light.border.category-list
            .row.category-list-title.border-bottom
                .col-12.category-list-title
                    h5 CÁC THỂ LOẠI
            .row.category-list-content.border-bottom
                .col-6.category-title.mb-1.mt-1
                    a(href="#") 
                        i.fas.fa-tags 
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
                .col-6.category-title.mb-1.mt-1
                    a(href="#")
                        i.fas.fa-tags
                        span.category-title  Data 1
        .col-12.bg-light.border.category-list.mt-2
            .row.category-list-title.border-bottom
                .col-12.category-list-title
                    h5 SÁCH HAY
            .row.new-list-content
                .col-2.top-number.top-one 1       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.top-two.mb-1.mt-1
                    lable 2       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.top-three.mb-1.mt-1
                    lable 3       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 4       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 5       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 6       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 7       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 8       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 9      
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
            .row.new-list-content
                .col-2.top-number.mb-1.mt-1
                    lable 10       
                .col-10.category-title.pt-1.pb-1
                    a(href="#") Diễn Tinh Xuyên Vào Kịch Khổ Tình
                    .count-view-sidebar-group 
                        i.fas.fa-eye
                            lable  123456789
        