extends ../templates/home.template.pug
block content
    #content.col-md-8.col-12
        .col-12.bg-light.border.hot-list.mb-2
            .row.hot-list-title.border-bottom
                .col-7.title-left
                    h5 SÁCH XEM NHIỀU
                .col-5.title-right.mt-2
                    a(href="#") Xem thêm&raquo;
            .row.hot-list-content
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto",src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail") 
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail")
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail")
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail")
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail")
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
                .col-md-4.col-12.mt-2.mb-2.hot-list-content.position-relative
                    a(href="/detail")
                        img.img-fluid.book-cover.mx-auto.d-block(max-width="100%", height="auto", src="https://picsum.photos/210/300", alt="")
                    .pl-2.pr-2.mr-3.book-title-group
                        a.book-title(href="/detail")
                            h6.text-center.mt-2 Machine Learning Cơ Bản
                    .position-absolute.pl-2.pr-2.count-view-group
                        i.fas.fa-eye  123456789
        .col-12.bg-light.border.new-list
            .row.new-list-title.border-bottom
                .col-7.title-left
                    h5 SÁCH MỚI CẬP NHẬT
                .col-5.title-right.mt-2
                    a(href="#") Xem thêm&raquo;
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285
            .row.chapter-content
                a(href="#").col-9.book-title 
                    lable - Đấu La Đại Lục: Ý Trung Nhân
                .col-3.chapter Chương 285