extends ../templates/home.template.pug
block content
    #content.col-md-8.col-12
        .alert.alert-success.mb-2(role="alert")
                p.text-center.mb-0 Chúc các bạn có những giây phút đọc sách thật vui vẻ!!!
        .row.border
            .col-12
                .book-header.text-center
                    h5 Gian Nịnh Quốc Sư Yêu Tà Thê
                    h5.text-muted Chương 1: Sinh không thể luyến (Sinh ra đã được định sẵn là cô độc)
                    hr
                    .input-group.justify-content-center.mt-3.mb-3
                        button.btn.btn-light.mr-3
                            i.fas.fa-arrow-left
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Chọn chương
                            .dropdown-menu.scrollable-menu
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                        button.btn.btn-light.ml-3
                            i.fas.fa-arrow-right        
                .book-content
                    p Trên trường kỷ đen như nhung, nữ tử xinh đẹp mặc y phục màu trắng có đai lưng viền xung quanh váy, đôi mắt buông xuống. Tại nơi ánh đèn chiếu rọi xuống, da thịt trắng nõn cùng với trường kỷ đen tuyền tạo thành hình ảnh tương phản, lông mi thật dài hạ xuống tại mí mắt của nàng tạo thành một cái bóng hư ảo.
                    p Nàng nhẹ nhàng nâng tay lên bóp nát chiếc ly thuỷ tinh. Những mảnh thuỷ tinh đâm vào tay, một chất lỏng đặc sệt có màu đỏ tươi như rượu nhanh chóng tràn ra, khiến cho những ngón tay mảnh khảnh càng thêm trong sáng (trong suốt + sáng chói).
                    p Nàng không nói một lời giống như một pho tượng oa nhi xinh đẹp bằng lưu ly, trong suốt mà mộng ảo, lại giống như nhẹ nhàng chạm vào thì sẽ vỡ vậy, làm cho người ta nhịn không được muốn tỉ mỉ che chở.
                    p Mà phía dưới, tại xương quai xanh xinh đẹp của nàng, một con bướm huyết sắc (chắc là bướm có màu đỏ như máu) giương cánh muốn bay đi, ẩn hiện xinh đẹp. Mắt thấy rõ ràng rằng con bướm đó ở chung với nàng là muôn vàn không hợp nhau, nhưng chỉ chớp mắt một cái, sẽ làm người khác cảm thấy là do bản thân mình nhìn lầm mà thôi. Kỳ thật, con bướm đó thực thích hợp với nàng, cùng với da thịt trắng nõn có thể nói là càng tăng thêm sức quyến rũ.
                    p Thật lâu sau, nàng từ từ ngước lên, con ngươi đen bóng. Liếc mắt nhìn lại, trong veo không thấy đáy, cái gì cũng đều không có. Đôi mắt thanh thấu (trong veo) như vậy, không khỏi làm cho người ta cảm thấy, có lẽ bất luận kẻ nào, bất luận việc gì cũng không thể lưu lại tại đáy mắt nàng một chút dấu vết.
                    p Chỉ thấy nàng nhẹ nhàng khoát tay áo, mở miệng nói, "Đi xuống đi, hết thảy đều theo kế hoạch mà làm." Thanh âm trong trẻo như chim hoàng anh, dễ nghe êm tai, nhưng vào giờ phút này, thanh âm đó mang theo mỏi mệt cùng thất vọng không dễ phát hiện.
                    p "Chủ nhân..."
                    p Cách đó không xa, trước mặt nàng có mười hai người đứng. Lúc này, mười hai người nhất tề (cùng) mở miệng, nhưng khi nhìn đến nữ tử thản nhiên hạ tầm mắt, tự giác ngậm miệng.
                    p Cuối cùng nhìn lại nữ tử, mười hai người lui ra ngoài, nhưng mà đáy lòng lại không thể nào ngừng được lo lắng. Tuy biết rằng mọi việc đều nằm trong tay chủ nhân, nhưng mà bọn hắn lại luôn luôn có dự cảm xấu.
                    p Nữ tử ngồi thêm chốc lát, buông chén rượu trong tay, lấy tay day day cái trán. Đột nhiên cười thấp ra tiếng, nàng cư nhiên (không ai ngờ) đã quên mất hình dáng của phụ mẫu, lại chỉ nhớ rõ lời cuối cùng bọn họ dặn, hảo hảo chiếu cố (chiếu cố tốt) muội muội.
                    p "Hết thảy ngay tại ngày mai đều chấm dứt đi!"
                    p Ngày thứ hai, thời tiết sáng sủa, ánh nắng chói chang, toàn bộ trên Thánh đảo một cảnh sắc vui mừng, nhưng người mẫn cảm lại có thể cảm giác được trong không khí mang theo một tia áp lực buột chặt.
                    p Trong phòng nghỉ của tân nương, một nữ tử xinh đẹp mặc đồ phụ dâu nhìn tân nương trước mắt, cười tán dương, "Tỷ tỷ... Người thật đẹp!" Nói xong cánh tay còn huých vào hỉ phục trắng muốt, trong mắt mang theo tia vui mừng.
                    p Tân nương được khen ngợi đang nhìn hỉ phục trên người, cười nhẹ, tay sờ sờ đầu nàng, đáy mắt mang theo vài phần sủng nịch.
                    p Nữ tử xinh đẹp so với tân nương còn vui vẻ hơn, lấy nước trái cây đang để một bên đưa cho tân nương, cười nói, "Tỷ tỷ, chúc tỷ hạnh phúc!"
                    p Tân nương nhận nước trái cây, khoé miệng cong lên, tươi cười đó cơ hồ nhanh đến mức không thể nhìn thấy, quơ quơ nước trái cây trong tay, dưới ánh nhìn chăm chú của nữ tử kia, uống một ngụm, phảng phất như không nhìn thấy người bên cạnh tay nắm chặt thành quyền cùng với tầm mắt khẩn trương đầy vẻ bất thường.
                    p Thấy nàng uống hết vào, nữ tử xinh đẹp nhẹ nhõm thở ra, đột nhiên mở miệng nói, "Tỷ tỷ, cho tới bây giờ ta đều không nhìn thấu được ngươi suy nghĩ cái gì. Những thời điểm đối mặt cùng ngươi, ta lại luôn luôn bị ngươi xem thấu cảm giác, cái loại cảm giác này rất khó chịu, ngươi có biết không?"
                    p Nhìn tân nương bộ dáng bất vi sở động (không nhúc nhích), nữ tử xinh đẹp tiếp tục nói, "Ngươi có lẽ là không biết đi? Ta từng tận mắt nhìn thấy ngươi cười khi cắt đứt cổ người khác, thật giống như ngươi đang giẫm chết một con kiến vậy. Khi đó, ta thật sự cảm thấy ngươi thực đáng sợ, thực sự bẩn thỉu. Ta thường xuyên suy nghĩ, trên tay ngươi rốt cuộc đã lây dính bao nhiêu máu tươi? Ngươi có biết hay không, thời điểm mỗi lần tay ngươi đụng tới ta, ta đều cảm thấy cả người khó chịu." Tựa hồ (Để) chứng minh cho lời nói của mình, nàng lui từng bước ra sau, cách tân nương xa một ít.
                    p "Đúng ra ta thật may mắn, vì ta là muội muội của ngươi, ít nhất ngươi sẽ không ra tay với ta. Nhưng ta sai lầm rồi, ngươi đối với ta độc ác hơn so với người khác. Những gì thuộc sỡ hữu của ta, ngươi đều phải cướp đi. Trước kia là sự sủng ái của phụ mẫu, kế tiếp là Thánh đảo, hiện tại là tâm nam nhân mà ta yêu,..."
                    p Nói tới đây, sắc mặt của nữ tử xinh đẹp đã muốn đỏ bừng, có thể nhìn ra được cảm xúc của nàng thực kích động. Nhìn nữ tử trước mắt vẫn như cũ giữ vẻ mặt hờ hững, phẫn hận trong lòng nàng không khỏi càng đậm, lớn tiếng chất vấn nói, "Vì sao? Ta là người thân của ngươi, là muội muội ruột của ngươi, ngươi không thể lưu lại một ít này nọ cho ta sao? Ngươi đã là Đảo chủ của Thánh đảo, muốn cái dạng nam nhân gì mà không có? Vì sao còn muốn cùng ta giành?"
                    p Trong mắt nữ tử xinh đẹp mang theo hận ý dày đặc hơn, không chút nào che giấu, trên mặt tất cả đều là ý cười thống khoái (sung sướng), "Bất quá, ngươi rất nhanh sẽ không thể lại cùng ta đoạt (giành), tất cả những gì thuộc về ta, ta muốn đoạt (giành) lại toàn bộ!"
                    p "Ha ha... Thật sự là một màn tỷ muội tương tàn (đấu với nhau đến mức một mất một còn) hảo a!"
                    .input-group.justify-content-center.mt-3.mb-3
                        button.btn.btn-light.mr-3
                            i.fas.fa-arrow-left
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Chọn chương
                            .dropdown-menu.scrollable-menu
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                                a.dropdown-item(href='#') Chương 0: Lời mở đầu
                                a.dropdown-item(href='#') Chương 1: Tư Duy Và Tính Cách
                                a.dropdown-item(href='#') Chương 2: Ảnh Hưởng Của Tư Duy Tới Hoàn Cảnh
                                a.dropdown-item(href='#') Chương 3: Tác Động Của Tư Duy Tới Sức Khỏe Và Cơ Thể Con Người
                                a.dropdown-item(href='#') Chương 4: Tư Duy Và Mục Đích
                                a.dropdown-item(href='#') Chương 5: Nhân Tố Tư Duy Trong Thành Công
                                a.dropdown-item(href='#') Chương 6: Viễn Cảnh Và Lý Tưởng
                                a.dropdown-item(href='#') Chương 7: Sự Thanh Thản
                        button.btn.btn-light.ml-3
                            i.fas.fa-arrow-right